[run]
omit =
    tally_counter/asgi.py
    tally_counter/wsgi.py
    tally_counter/settings.py
    */migrations/*
    # Measure coverage of application code, not the tests themselves:
    */*tests.py
    */tests/*
    manage.py
